<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>br.com.proway.servlet.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarImagemServlet</servlet-name>
        <servlet-class>br.com.proway.servlet.util.RecuperarImagemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosServlet</servlet-name>
        <servlet-class>br.com.proway.servlet.UsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfilServlet</servlet-name>
        <servlet-class>br.com.proway.servlet.AlterarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraPerfilServlet</servlet-name>
        <servlet-class>br.com.proway.servlet.AlterarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroUsuarios</servlet-name>
        <servlet-class>br.com.proway.servlet.CadastroUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarImagemServlet</servlet-name>
        <url-pattern>/RecuperarImagemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosServlet</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfilServlet</servlet-name>
        <url-pattern>/AlterarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraPerfilServlet</servlet-name>
        <url-pattern>/alterar_perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroUsuarios</servlet-name>
        <url-pattern>/cadastro_usuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
